.navbar {
    width: 100%;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(229,230,230,.5);
}

.navbar-nav {
    margin: 0 auto;
    padding: 12px 0;
}

.navbar-nav li {
    //padding-right: 20px;
}

a.nav-link {
    font-size: 17px;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    margin-right: 44px;
    padding-left: 1px!important;
    padding-right: 1px!important;
}

a:hover{
    border-bottom: 2px solid rgba(0,0,0,.3);
    transition: border-bottom .2s;
}

nav .active {
    border-bottom: 2px solid #000;
}

.navbar-nav a.nav-link {
    color: #727272;
}

.main-img img {
    width: 100%;
}

.discography-heading{
    text-align: center;
    padding-top: 66px;
    padding-bottom: 50px;
}

.discogtaphy-albom{
    padding-top: 144px;
}

.center{
    margin: 0 auto;
    text-align: center;
}

.albom-item{
    text-align: center;
    padding-bottom: 110px;
}

.left{
    text-align: left;
}

.discography-albom{
    font-size: 14px;
}

.discography-year{
    border-bottom: 1px solid #000;
    padding-bottom: 12px;
    color: #595959;
}

.discography-albom-name{
    padding-top: 10px;
    color: #000;
    text-transform: uppercase;
}

.discography-albom-title{
    font-size: 23px;
}

.discography-albom-description p{
    color: #acacac;
}

.discography-play{
    padding-top: 16px;
}