@font-face {
	font-family: 'Dosis-Regular';
	src: url('../fonts/dosis-regular.ttf') format('truetype'); 
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/dosis-bold.ttf') format('truetype'); 
} 


@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/dosis-light.ttf') format('truetype'); 
}

@font-face {
	font-family: 'OpenSans-light';
	
	src: url('../fonts/dosis-regular.ttf') format('truetype'); 
}

div.row{
    margin-left: 0;
    margin-right: 0;
}
.navbar {
    width: 100%;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(229, 230, 230, .5);
    padding: 0; 
}

.navbar-nav {
    margin: 0 auto;
    padding: 12px 0;
}

.navbar-nav li {
    //padding-right: 20px;
}

a.nav-link {
    font-size: 17px;
    font-family: 'Dosis-Regular', sans-serif;
    text-transform: uppercase;
    margin-right: 44px;
    padding-left: 1px !important;
    padding-right: 1px !important;
}

nav a:hover {
    border-bottom: 2px solid rgba(0, 0, 0, .3);
    transition: border-bottom .2s;
}

nav .active {
    border-bottom: 2px solid #000;
}

.navbar-nav a.nav-link {
    color: #727272;
}

.main-img img {
    width: 100%;
}

.discography-description, .concert-description{
    font-size: 14px;
    font-family: 'OpenSans', sans-serif;
}

.discography-heading, .concert-heading{
    text-align: center;
    padding-top: 66px;
    padding-bottom: 50px;
}

.discogtaphy-albom, .concert-albom {
    padding-top: 144px;
    padding-bottom: 342px;
    background-image: url(../img/discography-bottom.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    font-size: 14px;
}

.concert-albom{
    background-image: url(../img/concert-bottom.png);
    padding-bottom: 137px;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.albom-item {
    text-align: center;
    padding-bottom: 110px;
}

.left {
    text-align: left;
}

.discography-year, .concert-year {
    border-bottom: 1px solid #000;
    padding-bottom: 12px;
    color: #595959;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 14px;
    
}

.discography-albom-name, .concert-name {
    padding-top: 10px;
    color: #000;
    text-transform: uppercase;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 14px;
}

.discography-albom-title, .concert-title {
    font-size: 23px;
    font-family: 'OpenSans-Bold', sans-serif;
}
.concert-title{
    padding-top: 84px;
}


.discography-albom-description p, concert-description p {
    color: #acacac;
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
}

.discography-play, .concert-buy {
    padding-top: 16px;
}

.concert-buy{
    padding-top: 26px;
}

.concert-buy a{
    color: #000;
    padding: 23px 45px 21px 53px;
    border: 1px solid #afb2b2;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 14px;
}

.concert-buy a:hover{
    text-decoration: none;
}

.concert-buy a span{
    padding-left: 18px;
}
